.container {
    display: flex;
    width:95vw;
    max-width: 1400px;
    justify-content: center;
}

.meal {
    display: flex;
    width:95vw;
    max-width: 1200px;
    min-height: 200px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #86B0AD;
}

.meal > * {
    width:70%;
    display: flex;
}

h2 {
    margin-bottom: 30px;
    font-size: 34px;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.products-left {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.product-name {
    width: 85%;
}

.product-grams {
    width: 12.5%;
    text-align: center;
}

.product-right {
    display: flex;
}


input, select, button {
    height: 35px;
    background-color: #242038;
    color: #ffffff;
    padding:5px;    
    cursor: pointer;
}

.remove-product{
    width: 35px;
    padding: 0;
}

.remove-product::before{
    content: "";
    display: block;
    margin-left: 10px;
    width: 15px;
    height: 4px;
    background-color: #ffffff;
}

.add-product {
    min-width:15%;
}

.meal-control {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.meal-kcal{
    font-weight: 600;
}

.header{
    justify-content: space-between;
}
.remove-meal{
    width: 35px !important;
    padding: 0;
    background-color: #ffffff !important;
    border: none;
    text-align: right;
}
.remove-meal::before{
    content: "\00d7";
    color: #242038;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
}


@media only screen and (max-width: 700px) {
    .meal > * {
        width:90%;
    }
}