    <app-main-content>
        <div class="container">
            <div class="add-product-form">
                <h2>Dodaj produkt</h2>
                <div class="products">
                    <input type="text" class="product-name" />
                    <input type="text" class="product-grams" placeholder="Ile gram?" />
                </div>
                <div class="meal-control">
                    <button class="add-product">Dodaj produkt</button>
                </div>  
            </div>
        </div>
    </app-main-content>