    <div class="container">
        <div class="logo-container">
            <img src="assets/images/Logo-large.PNG" />
        </div>
        <div class="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" class="input__text" placeholder="Nazwa użytkownika" formControlName="userName" />
                <input type="password" class="input__text" placeholder="Hasło" formControlName="password" />
                <button type="submit" class="submit-button" [disabled]="!loginForm.valid">Zaloguj się</button>
            </form>
        </div>
    </div>
    <app-message-box *ngIf="isMessageVisible()">Zaloguj się aby kontynuować.</app-message-box>