<nav *ngIf="isNavVisible()">
    <div class="container">
        <div class="nav-left">
            <div class="logo-container"><img src="assets/images/Logo.png" /></div>
            <nav>
                <ul class="nav-links">
                    <li><a routerLink="/" routerLinkActive="active">Licznik kalorii</a></li>
                    <li><a routerLink="/dodaj-produkt" routerLinkActive="active">Dodaj produkt</a></li>
                </ul>
            </nav>
        </div>
        <div class="nav-right">
            <div class="user-name"><a routerLink="/panel-logowania" routerLinkActive="active">Nazwa użytkownika</a></div>
            <div class="user-logo"><img src="assets/images/User-logo.png" /></div>
        </div>
    </div>
</nav>
